apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-credentials
  namespace: default
type: Opaque
stringData:
  credentials.json: |
    {
      "AccountTag": "15c11c7cfc22170c94708cfa16cb79b2",
      "TunnelID": "ced30799-f683-4af8-af1a-a78f624afbc2",
      "TunnelName": "k8s-tunnel",
      "TunnelSecret": "UrZIIS6ZJ08aKJYcY0J1fdqlihrq2c4bKZNR49HVDGOPcAZPgzAUnGJ0MYERcMYE"
    }
